html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
    
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:darkgrey;
}

header {
    background-color: rgb(128, 45, 175);
    flex: 0 0 40px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.section{
    padding-left: 20px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 100vw;
    
    }

hr {
    background-color: black;
    height: 5px;
    width: 100%;
    border: 0;
}

#button{
    background-color:rgb(128, 45, 175);
    height:50px;
    width:100px;
    
    border-radius: 10px;}
#button2{
    background-color:rgb(128, 45, 175);
    height:50px;
    width:100px;
    
    border-radius: 10px;}

